<nav class="navbar navbar-toggleable-sm navbar-light bg-faded container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
        Myles' Talks
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 mt-md-0 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="https://mylesb.ca/">
                    Homepage
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://mylesbraithwaite.com/">
                    Blog
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link--icon" href="https://twitter.com/mylesb" title="Tweet Myles Braithwaite on Twitter.">
                    {% asset 'social-twitter.svg' @inline %}
                    <span class="sr-only">(Twitter)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-link--icon" href="https://github.com/myles" title="Follow Myles Braithwaite's programming on GitHub.">
                    {% asset 'social-github.svg' @inline %}
                    <span class="sr-only">(GitHub)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
