<header class="page-header">
    <div class="page-header__wrapper container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-header__title">
                {% if page.title %}
                    {{ page.title }}
                {% else %}
                    {{ site.title }}
                {% endif %}
                </h1>
            </div>
        </div>

        {% if page.tease %}
        <div class="row">
            <div class="col-md-6">
                <p class="page-header__tease">{{ page.tease }}</p>
            </div>
        </div>
        {% endif %}
    </div>
</header>
