$brand-primary: rgb(29, 80, 141);

@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/normalize';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/grid';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
@import 'bootstrap/alert';
@import 'bootstrap/responsive-embed';
@import 'bootstrap/utilities';

html {
  background-color: $brand-primary;
}

.post-footer {
  border-top: #EBF2F6 1px solid;
  margin: 6rem 0 0;
  padding: 3rem 0 0;
  position: relative;

  &__avatar {
    position: absolute;
    top: -2em;
    left: 50%;
    margin-left: -2em;
    overflow: hidden;
    padding: 6px;
    z-index: 2;

    svg {
      @include size(4em);
      @include border-radius(.3em);

      background-color: $brand-primary;
      padding: .3em .3em 0;
    }
  }

  &__author {
    font-size: 1rem;
  }

  &__description {
    margin-top: 2em;
  }
}

.page-header {
  background-color: $brand-primary;
  color: $white;
  margin-bottom: $spacer;
  padding: 3em 0;

  &__title {
    font-size: $display3-size;
    font-weight: $display3-weight;
  }

  &__tease {
    color: lighten($brand-primary, 30);
    font-size: $font-size-h4;
    font-weight: $lead-font-weight;
  }
}

.page-footer {
  background-color: $brand-primary;
  color: $white;
  margin-top: $spacer;
  padding: 2em 0;
  text-align: center;

  &__link {
    color: darken($white, 10);

    @include hover-focus {
      color: darken($white, 20);
    }
  }
}

.card {
  display: block;
}

.nav-link {
  &--icon {
    svg {
      @include size(1.5em);

      vertical-align: middle;

      * {
        fill: $navbar-light-color;
      }
    }

    @include hover-focus {
      svg * {
        fill: $navbar-light-hover-color;
      }
    }
  }
}

.heart {
  @include size(1.5em);

  vertical-align: middle;

  &__property-fill {
    fill: $red;
    stroke: $red;
  }
}
