$brand-primary: rgb(29, 80, 141);

@import 'bootstrap/bootstrap';

html {
  background-color: $brand-primary;
}

.post-footer {
  border-top: #EBF2F6 1px solid;
  margin: 6rem 0 0;
  padding: 3rem 0 0;
  position: relative;

  &__container {
    max-width: 540px;
  }

  &__avatar {
    display: none;

    @include media-breakpoint-up('sm') {
      display: block;
      left: 50%;
      margin-left: -2em;
      overflow: hidden;
      padding: 6px;
      position: absolute;
      top: -2em;
      z-index: 2;
    }

    svg {
      @include size(4em);
      @include border-radius(.3em);

      background-color: $brand-primary;
      padding: .3em .3em 0;
    }
  }

  &__author {
    font-size: 1rem;
  }

  &__description {
    margin-top: 2em;
  }
}

.page-header {
  background-color: $brand-primary;
  color: $white;
  margin-bottom: $spacer;
  padding: 3em 0;

  &__title {
    font-size: $display3-size;
    font-weight: $display3-weight;
  }

  &__tease {
    color: lighten($brand-primary, 30);
    font-size: $font-size-h4;
    font-weight: $lead-font-weight;
  }

  &__meta {
    color: lighten($brand-primary, 30);
    font-size: $font-size-h4;
    font-weight: $lead-font-weight;

    a {
      color: lighten($brand-primary, 40);
    }
  }
}

.page-footer {
  background-color: $brand-primary;
  color: $white;
  margin-top: $spacer;
  padding: 2em 0;
  text-align: center;

  &__link {
    color: darken($white, 10);

    @include hover-focus {
      color: darken($white, 20);
    }
  }
}

.card-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  color: $body-color;
  display: block;
  margin: .5rem 1rem;
  width: 32rem;

  &:hover {
    @include card-variant(#e9ecef, #ced4da);

    text-decoration: none;

    .card-img-top {
      opacity: .8;
    }
  }
}

.nav-link {
  &--icon {
    svg {
      @include size(1.5em);

      vertical-align: middle;

      * {
        fill: $navbar-light-color;
      }
    }

    @include hover-focus {
      svg * {
        fill: $navbar-light-hover-color;
      }
    }
  }
}

.heart {
  @include size(1.5em);

  vertical-align: middle;

  &__property-fill {
    fill: $red;
    stroke: $red;
  }
}

@import 'notebook';
@import 'highlight';
@import 'c-embed';
