---
layout: default

date: 2017-12-12 19:30

title: Terraform

at:
  name: GTALUG
  type: meetup
  link: https://gtalug.org/meeting/2017-12/

tags:
  - Terraform

category: lightning

feature_image: /slides/001.png

source: https://github.com/myles/2017-12-12-terraform
---

<div class="container">
    {% include c-embed-youtube.html id='H0elmnSGoLs' %}
</div>

{% include section-header.html title='Slides' %}

<div class="container">
    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/001.png?v={{site.time | date: '%s%N'}}" alt="Terraform">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/002.png?v={{site.time | date: '%s%N'}}" alt="Infrastructure as Code">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/003.png?v={{site.time | date: '%s%N'}}" alt="Write | Plan | Code">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/004.png?v={{site.time | date: '%s%N'}}" alt="Write">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/005.png?v={{site.time | date: '%s%N'}}">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/006.png?v={{site.time | date: '%s%N'}}">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/007.png?v={{site.time | date: '%s%N'}}" alt="Plan">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/008.png?v={{site.time | date: '%s%N'}}" alt="Create">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/009.png?v={{site.time | date: '%s%N'}}" alt="Ansible">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/010.png?v={{site.time | date: '%s%N'}}">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col col-sm-6">
            <img class="img-fluid" src="{{ page.url }}/slides/011.png?v={{site.time | date: '%s%N'}}" alt="Questions">
        </div>

        <div class="col col-sm-6"></div>

    </div>

    <hr/>
</div>
