<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        {% asset style.scss %}

        {% seo title=false %}
    </head>

    <body id="talks-mylesb-ca" class="bg-faded">
        {% if page.id %}{% include navbar.html %}{% endif %}

        {% include page-header.html %}

        {% mark_old_posts 18 months ago %}

        {{ content }}

        {% if page.id %}{% include post-footer.html post=page %}{% endif %}

        {% include page-footer.html %}

        {% asset script.js %}
    </body>
</html>
